<h3>Comienzo con el trabajo de ETL sobre mis datasets<h3>

Importo las librerías a utilizar

In [430]:
import pandas as pd

Abro los datasets e imprimo un sample para realizar un análisis exploratorio general de mis datos.
Además, creo copias auxiliares de mis datasets como backup.

In [431]:
df_amazon = pd.read_csv("app\\datasets\\amazon_prime_titles.csv",delimiter = ',',encoding = "utf-8")
df_amazonaux = df_amazon.copy()
df_amazon.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6265,s6266,Movie,10 Cent Pistol,Michael C. Martin,"Jena Malone, JT Alexander, Damon Alexander, Jo...",NaN,NaN,2015,18+,91 min,"Action, Suspense",A story about two lifelong criminals who maneu...
1190,s1191,Movie,Redeemer,Ernesto Diaz Espinoza,"Marko Zaror, Loreto Aravena, Jose Luis Mosca, ...",NaN,NaN,2015,18+,90 min,Action,Martial arts master Marko Zaror stars as an ex...
3165,s3166,Movie,Bad Match,David Chirchirillo,"Jack Cutmore-Scott, Lili Simmons, Brandon Scot...",NaN,NaN,2017,NaN,83 min,"Horror, Suspense",An internet-dating playboy's life spirals out ...
1580,s1581,Movie,Mr. Family Man,Kreeti Gogia,Praveen Kumar,India,NaN,2020,16+,55 min,"Arts, Entertainment, and Culture, Comedy",Being a SuperMan may be easy. Being a SpiderMa...
8725,s8726,TV Show,Act 6 - Series 1,NaN,1,NaN,NaN,2021,ALL,1 Season,Action,2 after onboarding 1

In [432]:
df_disney = pd.read_csv("app\\datasets\\disney_plus_titles.csv",delimiter = ',',encoding = "utf-8")
df_disneyaux = df_disney.copy()
df_disney.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1227,s1228,Movie,Swiss Family Robinson,Edward Ludwig,"Thomas Mitchell, Edna Best, Freddie Bartholome...",United States,"November 12, 2019",1940,PG,94 min,"Action-Adventure, Family, Survival",A violent storm shipwrecks the Robinson family...
1448,s1449,Movie,Bend It Like Beckham,Gurinder Chadha,"Parminder Nagra, Keira Knightley, Jonathan Rhy...","United Kingdom, Germany, United States","September 18, 2020",2003,PG-13,112 min,"Buddy, Comedy, Coming of Age",Despite the wishes of their traditional famili...
1333,s1334,Movie,The Scream Team,Stuart Gillard,"Mark Rendall, Kat Dennings, Robert Bockstael, ...",United States,"November 12, 2019",2002,TV-PG,88 min,"Comedy, Fantasy",Ian and Claire Carlyle discover that ghosts re...
742,s743,Movie,Bearly Asleep,Jack Hannah,NaN,United States,"November 12, 2019",1955,TV-PG,7 min,"Animation, Comedy, Family",Donald Duck is a ranger and puts the bears to ...
550,s551,Movie,Water Birds,Ben Sharpsteen,Winston Hibler,United States,"May 1, 2020",1952,TV-G,31 min,"Animals & Nature, Documentary, Family",Experience the beauty and variety of majestic ...

In [433]:
df_hulu = pd.read_csv("app\\datasets\\hulu_titles.csv",delimiter = ',',encoding = "utf-8")
df_huluaux = df_hulu.copy()
df_hulu.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1633,s1634,Movie,Spider-Man 2,NaN,NaN,NaN,"June 1, 2020",2004,PG-13,128 min,"Action, Adventure, Family",Peter Parker must overcome his personal demons...
2438,s2439,Movie,Borg vs McEnroe,NaN,NaN,"Sweden, Denmark, Finland","August 10, 2018",2017,R,108 min,"Drama, International, Sports","It's the summer of 1980, and Björn Borg is the..."
2201,s2202,TV Show,Entre Nos,NaN,NaN,NaN,"May 15, 2019",2017,TV-MA,1 Season,"Comedy, Latino, Stand Up",The world's top Latino comedians come together...
647,s648,Movie,Night of the Kings,NaN,NaN,NaN,"June 3, 2021",2020,TV-MA,93 min,"Drama, International",A young man is sent to a prison in the middle ...
719,s720,Movie,MLK/FBI,NaN,NaN,NaN,"May 14, 2021",2020,NaN,106 min,"Black Stories, Documentaries","Based on recently declassified files, Oscar-no..."

In [434]:
df_netflix = pd.read_json("app\\datasets\\netflix_titles.json",orient="records")
df_netflixaux = df_netflix.copy()
df_netflix.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2989,s2990,Movie,A Sun,Chung Mong-hong,"Wu Chien-ho, Chen Yi-wen, Samantha Ko, Liu Kua...",Taiwan,"January 24, 2020",2019,TV-MA,156 min,"Dramas, Independent Movies, International Movies",A family reckons with the aftermath of their y...
4923,s4924,Movie,All The Reasons To Forget,Pedro Coutinho,"Johnny Massaro, Bianca Comparato, Regina Braga...",Brazil,"April 19, 2018",2017,TV-MA,90 min,"Comedies, Dramas, International Movies",A Brazilian man tries a myriad of ways to get ...
2031,s2032,Movie,Cuties,Maïmouna Doucouré,"Fathia Youssouf, Médina El Aidi-Azouni, Esther...",France,"September 9, 2020",2020,TV-MA,96 min,"Dramas, International Movies",Eleven-year-old Amy starts to rebel against he...
3334,s3335,Movie,Drive,Tarun Mansukhani,"Jacqueline Fernandez, Sushant Singh Rajput, Bo...",India,"November 1, 2019",2019,TV-14,119 min,"Action & Adventure, International Movies",A notorious thief allies with a street racer f...
3789,s3790,TV Show,Killer Ratings,None,None,None,"May 31, 2019",2019,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...",Brazilian TV personality and politician Wallac...

<h3>Comienzo un análisis general de mis datasets para saber cuántos datos faltantes (None/NaN/null) y datos repetidos se encuentran para luego eliminarlos.<h3>

Empiezo la limpieza de mi dataset "df_amazon".

In [437]:
#Elimino las columnas que no me servirán para las consultas indicadas.

df_amazon = df_amazon.drop(columns=["show_id","director","country","date_added","rating","description"])

In [438]:
#df_amazon.count().sum()
#df_amazon.isnull().sum().sum()

print("El número total de registros es de:",df_amazon.count().sum(),"\nEl número de registros faltantes es de:",df_amazon.isnull().sum().sum())

El número total de registros es de: 58008
El número de registros faltantes es de: 0

In [439]:
#Traigo los valores faltantes por columna
df_amazon.isnull().sum()

type            0
title           0
cast            0
release_year    0
duration        0
listed_in       0
dtype: int64

In [440]:
#Reemplazo mis valores nulos por "Sin datos" en lugar de eliminarlos para no perder información valiosa.

df_amazon = df_amazon.fillna("Sin Datos")

In [441]:
print("El número total de registros en el dataset es de:",df_amazon.count().sum(),"\nEl número de registros faltantes luego del fillna() es de:",df_amazon.isnull().sum().sum())

El número total de registros en el dataset es de: 58008
El número de registros faltantes luego del fillna() es de: 0

In [442]:
#Traigo los valores faltantes por columna luego del fillna()
df_amazon.isnull().sum()

type            0
title           0
cast            0
release_year    0
duration        0
listed_in       0
dtype: int64

In [443]:
#Verifico no tener duplicados en mi columna Titles, ya que es la única que me interesa que no posea valores repetidos.
#(Un director puede estar en más de una película/serie, las categorías de 2 o más películas/series puede coincidir así como el cast, duración etc...)

#df_amazon.title.nunique()

print("El número de títulos individuales que se encuentran en el dataset de Amazon es de:",df_amazon.title.nunique())

El número de títulos individuales que se encuentran en el dataset de Amazon es de: 9668

In [444]:
#Utilizamos el siguiente método en cada una de las columnas para verificar la presencia de datos anómalos como carácteres especiales, espacios vacíos, números, etc.
#df_amazon.sort_values(by=["columna_a_analizar"],ascending=True).head(20)

#Encontramos que hay valores en cast con nombre "1","1,2,3" por lo que cambiaremos estos valores por Sin Datos
df_amazon.sort_values(by=['cast'],ascending=True).head(36)

,type,title,cast,release_year,duration,listed_in
7217,TV Show,Series before 1C onboarding - 7,1,2021,1 Season,Action
7239,Movie,Clip: ACT 4 - Title after removing 1C - 2,1,2021,61 min,Action
8764,TV Show,Act 2 - Series 1,1,2021,2 Seasons,TV Shows
7238,Movie,Clip: ACT 4 - Title after removing 1C - 5,1,2021,61 min,Action
8728,TV Show,ACT 2 - Series 6,1,2021,1 Season,TV Shows
8727,TV Show,Act 5 - Series 1,1,2021,3 Seasons,Action
8726,TV Show,Act 5 - Series 2,1,2021,1 Season,TV Shows
7245,Movie,ACT 4 - Title after removing 1C - 1,1,2021,61 min,Action
6418,TV Show,Series before 1C onboarding - 2,1,2021,2 Seasons,"Action, Animation"
6628,TV Show,Series before 1C onboarding - 1,1,2021,1 Season,TV Shows
8724,TV Show,Act 6 - Series 2,1,2021,1 Season,TV Shows
7127,Movie,Act 4 - Title before 1C onboarding 2,1,2021,61 min,Action
9462,Movie,Clip: Act 5 - Title 5,1,2021,61 min,Animation
7139,Movie,Clip: 1,1,2021,3 min,Action
8708,TV Show,Clip: ACT 2 - Series 5,1,2021,1 Season,TV Shows
8725,TV Show,Act 6 - Series 1,1,2021,1 Season,Action
7128,Movie,Act 4 - Title before 1C onboarding 1,1,2021,61 min,Action
8501,Movie,Act 6 - Title 1,1,2021,61 min,Action
7258,Movie,Clip: ACT 4 - Title after removing 1C - 4,1,2021,61 min,Comedy
8762,TV Show,Act 2 - Series 2,1,2021,2 Seasons,Action
8761,TV Show,Act 2 - Series 3,1,2021,2 Seasons,TV Shows
8760,TV Show,Act 2 - Series 4,1,2021,2 Seasons,Action
8759,TV Show,ACT 2 - Series 8,1,2021,1 Season,TV Shows
8758,Movie,ACT 2 - TITLE 6,1,2021,61 min,Action
7319,TV Show,Clip: ACT 3 Series post 1C 2,1,2021,1 Season,TV Shows
8757,Movie,ACT 2 - TITLE 7,1,2021,61 min,Action
6930,Movie,Title Post onboarding 8,1,2021,61 min,Action
9463,Movie,Clip: Act 5 - Title 3,1,2021,61 min,Action
8755,Movie,ACT 2 - TITLE 9,1,2021,61 min,Action
8753,TV Show,ACT 2 - Series 7,1,2021,1 Season,TV Shows
8752,TV Show,ACT 2 - Series 9,1,2021,1 Season,TV Shows
8502,Movie,Act 5 - Title 1,1,2021,61 min,Action
8763,TV Show,ACT 2 - Series 10,1,2021,1 Season,TV Shows
8756,Movie,ACT 2 - TITLE 8,1,2021,61 min,Action
6416,Movie,Title before 1C onboarding - 5,"1, 2, 3",2021,3 min,Drama
608,TV Show,THE IDOLM@STER.KR,"10 singers from Real Girls Project, Sung Hoon,...",2017,1 Season,TV Shows

In [445]:
df_amazon.cast = df_amazon.cast.replace("1","Sin Datos")
df_amazon.cast = df_amazon.cast.replace("1, 2, 3","Sin Datos")
df_amazon.sort_values(by=['cast'],ascending=True).head(36)

,type,title,cast,release_year,duration,listed_in
608,TV Show,THE IDOLM@STER.KR,"10 singers from Real Girls Project, Sung Hoon,...",2017,1 Season,TV Shows
2249,TV Show,Harmony with A R Rahman,"A R Rahman, Sajith Vijayan, Bahauddin Dagar, B...",2018,1 Season,"Arts, Entertainment, and Culture, Documentary"
2893,TV Show,Celebrity Ghost Stories,A. Jones,2011,3 Seasons,TV Shows
3793,Movie,Phantasm: Remastered,"A. Michael Baldwin, Bill Thornbury, Reggie Ban...",1979,89 min,"Horror, Science Fiction"
8527,Movie,Thiruvarul,"A. V. M. Rajan, Jaya, Nagesh, Sukumari",1975,138 min,Drama
8617,Movie,Thunaivan,"A. V. M. Rajan, Sowkar Janaki, Nagesh, Sachu",1969,155 min,Drama
6783,Movie,Annaiyum Pithavum,"A. V. M. Rajan, Vanisri, Sivakumar, Lakshmi, M...",1969,154 min,"Comedy, Drama"
2408,Movie,Funny Lesson Learn Colors with Cows and Balls ...,ABC Kids Studio,2018,2 min,"Animation, Kids"
6162,Movie,Deva Rickshawala,"ABHINAV KUMAR, VERSA RITTU, SHASHI BHUSAN, RAM...",2021,127 min,"Drama, Romance"
6491,Movie,Flat No. 609,"ABIR CHATTERJEE, TANUSREE, RUDRANIL GHOSH",2018,103 min,Horror
5434,Movie,Sound of Water,"ABRAAM PANDEY, JASHPREET KAUR",2021,117 min,Romance
7509,Movie,Synchronicity,"AJ Bowen, Brianne Davis, Michael Ironside, Cha...",2016,100 min,"Fantasy, Science Fiction, Suspense"
5879,Movie,Meera Mathur,"ALAN KAPOOR, KHUSHI RAJPOOT, ASHWIN KAPOOR, RA...",2021,91 min,Drama
23,TV Show,ZeroZeroZero,"ANDREA RISEBOROUGH, HAROLD TORRES, CLAUDIA PIN...",2020,1 Season,TV Shows
8630,Movie,The End Will Be Spectacular - Ji Bo Azadiyê,"ARJÎN BAYSAL, DELÎL PÎRAN, CÎHAN SEVE, SAHÎRE ...",2019,142 min,"Action, Drama"
6482,Movie,Maayanadhi,"Aadukalam Naren, Venba, Abi Saravanan, Appukutty",2020,113 min,Romance
5287,Movie,Fanaa,"Aamir Khan, Kajol, Rishi Kapoor, Lara Dutta, S...",2006,168 min,Romance
4564,Movie,Raja Hindustani,"Aamir Khan, Karisma Kapoor, Suresh Oberoi, Joh...",1996,170 min,"Drama, Romance"
4877,Movie,Love Ni Bhavai,"Aarohi Patel, Malhar Thakar, Pratik Gandhi",2017,163 min,"Comedy, Drama, Kids"
8348,Movie,25 Sets,"Aaron Berg, Jim Gaffigan, Sal Vulcano, Dave At...",2019,58 min,"Arts, Entertainment, and Culture, Comedy, Docu..."
3024,Movie,"Blood, Sand and Gold","Aaron Costa Ganis, Monica West, Christopher Re...",2017,89 min,"Action, Adventure, Comedy"
1852,Movie,Line of Duty,"Aaron Eckhart, Dina Meyer, Giancarlo Esposito",2019,99 min,"Action, Adventure"
4404,Movie,Wander,"Aaron Eckhart, Tommy Lee Jones, Katheryn Winni...",2020,93 min,"Action, Adventure, Suspense"
6430,Movie,Spirit of the Game,"Aaron Jakubenko, Kevin Sorbo, Wade Briggs",2016,98 min,"Drama, Faith and Spirituality, Special Interest"
5406,TV Show,Underbelly: Chopper,"Aaron Jeffery, Todd Lasance, Vince Colosimo, E...",2018,1 Season,Drama
4073,Movie,Dummy,"Aaron Johnson, Thomas Grant, Emma Catherwood, ...",2008,85 min,Drama
5154,Movie,Floating City,"Aaron Kwok, Josie Ho, Annie Liu",2012,105 min,"Drama, Romance"
2708,Movie,Daydream Believers: The Monkees Story,Aaron Lohr,2000,92 min,"Action, Arts, Entertainment, and Culture, Drama"
824,Movie,T-Rex Ranch Dinosaur Adventures,"Aaron Michael, LB",2021,35 min,Kids
5189,TV Show,Dinosaur Quests with The Park Rangers by T-Rex...,"Aaron Michael, LB",2019,6 Seasons,Kids
4068,Movie,Goldstone,"Aaron Pederson, Alex Russell, Cheng Pei-Pei, D...",2018,110 min,"Action, Drama"
1535,Movie,Mystery Road,"Aaron Pederson, Hugo Weaving, Ryan Kwanten",2013,121 min,"Action, Drama, Suspense"
5487,Movie,The Curse Of The Blind Dead,"Aaron Stielstra, Alice Zanini, Francesca Pelle...",2021,88 min,"Horror, Suspense"
4046,Movie,The Wall,"Aaron Taylor-Johnson, John Cena, Laith Nakli",2017,90 min,"Drama, Military and War, Suspense"
6088,Movie,Hajar Juni Samma,"Aaryan Sigdel, Swastima Khadka, Priyanka Karki...",2019,123 min,Romance
1794,Movie,Loveyatri - The Journey of Love,"Aayush Sharma, Warina Hussain, Ronit Roy Bose,...",2018,133 min,"Comedy, International, Romance"

In [446]:
#Imprimimos una sample para darnos una idea de cómo quedó el dataset luego de la limpieza, encontramos valores "Sin Datos" en lugar de Nulls o valores anómalos.
df_amazon.sample(10)

,type,title,cast,release_year,duration,listed_in
1322,TV Show,Pinkfong! Baby Shark's Day at Home,Sin Datos,2021,1 Season,"Animation, Kids"
3921,Movie,Assault on Wall Street,"Dominic Purcell, Erin Karpluk, Edward Furlong",2013,99 min,"Action, Suspense"
6901,Movie,Siddhi Seere,"Sudha Narasimharaju, Kavita Shetty, Mahalakshm...",2019,135 min,Drama
8367,Movie,Writing Kim,Sin Datos,2021,78 min,Drama
5992,TV Show,The Adventures of Joe Coodryette,"Jason Pasnikowski, Ed Hennessy, Bernard Friedland",2021,1 Season,"Animation, Kids"
3112,TV Show,Bed Of Roses,"Kerry Armstrong, Julia Blake, Hanna Mangan Law...",2008,1 Season,TV Shows
7494,Movie,Fighting Temptations,"Beyonce, Cuba Gooding Jr., Wendell Pierce, Fai...",2003,123 min,"Arts, Entertainment, and Culture, Comedy, Fait..."
6491,Movie,Flat No. 609,"ABIR CHATTERJEE, TANUSREE, RUDRANIL GHOSH",2018,103 min,Horror
6508,Movie,Thom & Dusty Go To Mexico,"Victor Tomasino, John Lee Ames, Eloy Mendez, S...",2015,83 min,Comedy
5534,Movie,Quiet Room Bears,"Nick Smyth, Zoe Georgaras, Jennifer Valentyne,...",2021,17 min,Horror

Empiezo la limpieza de mi dataset "df_disney".

In [447]:
df_disney.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

In [448]:
#Elimino las columnas que no me servirán para las consultas indicadas.

df_disney = df_disney.drop(columns=["show_id","director","country","date_added","rating","description"])

In [449]:
#df_disney.count().sum()
#df_disney.isnull().sum().sum()

print("El número total de registros en el dataset es de:",df_disney.count().sum(),"\nEl número de registros faltantes es de:",df_disney.isnull().sum().sum())

El número total de registros en el dataset es de: 8510
El número de registros faltantes es de: 190

In [450]:
#Traigo los valores faltantes por columna
df_disney.isnull().sum()

type              0
title             0
cast            190
release_year      0
duration          0
listed_in         0
dtype: int64

In [451]:
#Reemplazo mis valores nulos por "Sin datos" en lugar de eliminarlos para no perder información valiosa.

df_disney = df_disney.fillna("Sin Datos")

In [452]:
print("El número total de registros en el dataset es de:",df_disney.count().sum(),"\nEl número de registros faltantes luego del fillna() es de:",df_disney.isnull().sum().sum())

El número total de registros en el dataset es de: 8700
El número de registros faltantes luego del fillna() es de: 0

In [453]:
#Traigo los valores faltantes por columna luego del fillna()
df_disney.isnull().sum()

type            0
title           0
cast            0
release_year    0
duration        0
listed_in       0
dtype: int64

In [454]:
#Verifico no tener duplicados en mi columna Titles, ya que es la única que me interesa que no posea valores repetidos.
#(Un director puede estar en más de una película/serie, las categorías de 2 o más películas/series puede coincidir así como el cast, duración etc...)

#df_disney.title.nunique()

print("El número de títulos individuales que se encuentran en el dataset de Disney es de:",df_disney.title.nunique())

El número de títulos individuales que se encuentran en el dataset de Disney es de: 1450

In [455]:
#Utilizamos el siguiente método en cada una de las columnas para verificar la presencia de datos anómalos como carácteres especiales, espacios vacíos, números, etc.
#df_disney.sort_values(by=["columna_a_analizar"],ascending=True).head(20)

#Luego de correr el código sobre cada columna, no encontramos valores anómalos.

Empiezo la limpieza de mi dataset "df_hulu".

In [457]:
df_hulu.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

In [458]:
#Elimino las columnas que no me servirán para las consultas indicadas.

df_hulu = df_hulu.drop(columns=["show_id","director","country","date_added","rating","description"])

In [459]:
#df_hulu.count().sum()
#df_hulu.isnull().sum().sum()

print("El número total de registros en el dataset es de:",df_hulu.count().sum(),"\nEl número de registros faltantes es de:",df_hulu.isnull().sum().sum())

El número total de registros en el dataset es de: 14886
El número de registros faltantes es de: 3552

In [460]:
#Traigo los valores faltantes por columna
df_hulu.isnull().sum()

type               0
title              0
cast            3073
release_year       0
duration         479
listed_in          0
dtype: int64

In [461]:
#Reemplazo mis valores nulos por "Sin datos" en lugar de eliminarlos para no perder información valiosa.

df_hulu = df_hulu.fillna("Sin Datos")

In [462]:
print("El número total de registros en el dataset es de:",df_hulu.count().sum(),"\nEl número de registros faltantes luego del fillna() es de:",df_hulu.isnull().sum().sum())

El número total de registros en el dataset es de: 18438
El número de registros faltantes luego del fillna() es de: 0

In [463]:
#Traigo los valores faltantes por columna luego del fillna()
df_hulu.isnull().sum()

type            0
title           0
cast            0
release_year    0
duration        0
listed_in       0
dtype: int64

In [464]:
#Verifico no tener duplicados en mi columna Titles, ya que es la única que me interesa que no posea valores repetidos.
#(Un director puede estar en más de una película/serie, las categorías de 2 o más películas/series puede coincidir así como el cast, duración etc...)

#df_hulu.title.nunique()

print("El número de títulos individuales que se encuentran en el dataset de Hulu es de:",df_hulu.title.nunique())

El número de títulos individuales que se encuentran en el dataset de Hulu es de: 3073

In [465]:
#Utilizamos el siguiente método en cada una de las columnas para verificar la presencia de datos anómalos como carácteres especiales, espacios vacíos, números, etc.
#df_hulu.sort_values(by=["columna_a_analizar"],ascending=True).head(20)

#Luego de correr el código sobre cada columna, no encontramos valores anómalos.

Empiezo la limpieza de mi dataset "df_netflix".

In [466]:
df_netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,None,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,None,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",None,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,None,None,None,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,None,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [468]:
#Elimino las columnas que no me servirán para las consultas indicadas.

df_netflix = df_netflix.drop(columns=["show_id","director","country","date_added","rating","description"])

In [469]:
#df_netflix.count().sum()
#df_netflix.isnull().sum().sum()

print("El número total de registros en el dataset es de:",df_netflix.count().sum(),"\nEl número de registros faltantes es de:",df_netflix.isnull().sum().sum())

El número total de registros en el dataset es de: 52014
El número de registros faltantes es de: 828

In [470]:
#Traigo los valores faltantes por columna
df_netflix.isnull().sum()

type              0
title             0
cast            825
release_year      0
duration          3
listed_in         0
dtype: int64

In [471]:
#Reemplazo mis valores nulos por "Sin datos" en lugar de eliminarlos para no perder información valiosa.

df_netflix = df_netflix.fillna("Sin Datos")

In [472]:
print("El número total de registros en el dataset es de:",df_netflix.count().sum(),"\nEl número de registros faltantes luego del fillna() es de:",df_netflix.isnull().sum().sum())

El número total de registros en el dataset es de: 52842
El número de registros faltantes luego del fillna() es de: 0

In [473]:
#Traigo los valores faltantes por columna luego del fillna()
df_netflix.isnull().sum()

type            0
title           0
cast            0
release_year    0
duration        0
listed_in       0
dtype: int64

In [474]:
#Verifico no tener duplicados en mi columna Titles, ya que es la única que me interesa que no posea valores repetidos.
#(Un director puede estar en más de una película/serie, las categorías de 2 o más películas/series puede coincidir así como el cast, duración etc...)

#df_netflix.title.nunique()

print("El número de títulos individuales que se encuentran en el dataset de Netflix es de:",df_netflix.title.nunique())

El número de títulos individuales que se encuentran en el dataset de Netflix es de: 8807

In [475]:
#Utilizamos el siguiente método en cada una de las columnas para verificar la presencia de datos anómalos como carácteres especiales, espacios vacíos, números, etc.
#df_netflix.sort_values(by=["columna_a_analizar"],ascending=True).head(20)

#Luego de correr el código sobre cada columna, no encontramos valores anómalos.

<h3>Concatenamos las 4 tablas en un dataframe.<h3>

In [476]:
#Comenzamos por ver el número de filas de cada tabla para darnos una idea de cómo puede quedar el dataframe concatenado.

print("Número de filas por tabla","\nAmazon: ",df_amazon.shape[0])
print("Disney: ",df_disney.shape[0])
print("Hulu:   ",df_hulu.shape[0])
print("Netflix:",df_netflix.shape[0])

Número de filas por tabla
Amazon:  9668
Disney:  1450
Hulu:    3073
Netflix: 8807

In [477]:
#Insertamos una columna "platform" a cada una de las tablas para saber a qué plataforma refiere la fila.

df_amazon = df_amazon.assign(platform="amazon")
df_disney = df_disney.assign(platform="disney")
df_hulu = df_hulu.assign(platform="hulu")
df_netflix = df_netflix.assign(platform="netflix")

In [484]:
df_amazon.head()

,type,title,cast,release_year,duration,listed_in,platform
0,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,113 min,"Comedy, Drama",amazon
1,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,110 min,"Drama, International",amazon
2,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,74 min,"Action, Drama, Suspense",amazon
3,Movie,Pink: Staying True,"Interviews with: Pink, Adele, Beyoncé, Britney...",2014,69 min,Documentary,amazon
4,Movie,Monster Maker,"Harry Dean Stanton, Kieran O'Brien, George Cos...",1989,45 min,"Drama, Fantasy",amazon

In [485]:
#Concatenamos verticalmente las 4 tablas en un solo dataframe "df_final" y utilizamos ignore_index para resetear los índices.

df_final = pd.concat([df_amazon,df_disney,df_hulu,df_netflix], ignore_index=True)
df_final.shape

(22998, 7)

In [522]:
#Traemos una sample del df_final para verificar que se haya concatenado de manera correcta.

df_final.head()

,type,title,cast,release_year,duration,listed_in,platform
0,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,113 min,"Comedy, Drama",amazon
1,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,110 min,"Drama, International",amazon
2,Movie,Secrets of Deception,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,74 min,"Action, Drama, Suspense",amazon
3,Movie,Pink: Staying True,"Interviews with: Pink, Adele, Beyoncé, Britney...",2014,69 min,Documentary,amazon
4,Movie,Monster Maker,"Harry Dean Stanton, Kieran O'Brien, George Cos...",1989,45 min,"Drama, Fantasy",amazon

<h3>Comenzamos con la creación de funciones para realizar las consultas.<h3>

Función get_max_duration.

In [582]:
def get_max_duration(año,plataforma):
    lista_plataformas = ("amazon","disney","hulu","netflix")
    if año in range(df_final.release_year.min(),df_final.release_year.max()+1) and plataforma in (lista_plataformas):
        return print("sape")

In [583]:
get_max_duration(2016,disney)

NameError: name 'disney' is not defined

In [528]:
for i in df_final.release_year:
    if i == 1989:
        print(df_final.title[i])
        break
    else:
        print("sapent")

sapent
sapent
sapent
sapent
Just Add Magic: Mystery City

In [540]:
if 1919 in range(df_final.release_year.min(),df_final.release_year.max()+1):
    print("sape")
else:
    print("sapent")

sapent

In [537]:
df_final.release_year.max()

2021